extends ui_layout

block content
  - const study2StartDate = new Date("2023-06-12T00:00:00.000Z");
  .sixteen.wide.column 
    table.ui.celled.padded.table(style="margin-left: -15em")
      thead
        tr
          th.single.line E-mail
          th Prolific ID
          th Start Date (ET)
          th Logins (ET)
          th # Ads/10
          //- th Completed?
          th App. total time on site 
          th App. time on site (Day 1)
          th App. time on site (Day 2)
          th # of logins (Day 1)
          th # of logins (Day 2)
          th # of Posts
          th # of Comments
      each u in users
        if Date.parse(u.createdAt) > Date.parse(study2StartDate)
          tbody
            tr
              td=u.email
              td.single.line=u.mturkID
              td=u.createdAt.toLocaleString("en-US", {timeZone: "America/New_York"})
              td
                ul(style="padding-left: 20px;")
                  each log in u.log 
                    li=log.time.toLocaleString("en-US", {timeZone: "America/New_York"})
              td=u.group=="var1" ? 5 :u.group=="var2" ? 4 : 2
              //- td=u.completed
              td=Math.round((u.pageTimes[0] + u.pageTimes[1])/1000/60)+" minutes"
              td=Math.round(u.pageTimes[0]/1000/60)+" minutes"
              td=Math.round(u.pageTimes[1]/1000/60)+" minutes"
              td=u.log.filter(log => log.time - u.createdAt <= 86400000).length
              td=u.log.filter(log => ((log.time - u.createdAt > 86400000) && (log.time - u.createdAt <= 86400000 * 2))).length
              td=u.numPosts + 1
              td=u.numComments + 1